{% extends 'admin_layout.html' %}
{% block title %}添加用户{% end %}
<!-- 面包屑导航块 -->
{% block bread_crumbs %}
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="javascript:void(0);">首页</a>
	</li>

	<li>
		<a href="javascript:void(0);">用户</a>
	</li>
	<li class="active"> &amp; user</li>
</ul>
{% end %}】

<!-- 面包屑下的表的名称 -->
{% block bread_crumbs_table_name %}
<div class="page-header">
	<h1>
		用户&nbsp;&nbsp;<span style="font-size: 14px;color: red;">&amp;查看</span>
	</h1>
</div>
{% end %}

<!-- 表的内容 -->
{% block table_content %}
<div class="row">
	<div class="col-xs-12">
		<!-- PAGE CONTENT BEGINS -->
		<div class="row">
			<div class="col-xs-12">
				<table id="simple-table" class="table  table-bordered table-hover">
					<thead>
						<tr>
							<th class="center col-md-1">编号</th>
							<th class="detail-col center col-md-1">图片</th>
							<th class="center col-md-2">名称</th>
							<th class="center col-md-1">系列</th>
							<th class="center col-md-1">类型</th>
							<th class="center col-md-1">价格</th>
							<th class="center col-md-1">库存</th>
							<th class="center col-md-3">简介</th>
							<th class="center col-md-1">功能</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td class="center"> 1 </td>
							<td class="center">
								<div class="action-buttons">
									<a href="#" class="green bigger-140 show-details-btn" title="Show Details">
										<i class="ace-icon fa fa-angle-double-down"></i>
									</a>
								</div>
							</td>
							<td class="center">mylove系列</td>
							<td class="center">$45</td>
							<td class="hidden-480 center">3,330</td>
							<td class="center">Feb 12</td>
							<td class="hidden-480 center"> 500 </td>
							<td class="center">钟爱一生</td>
							<td class="center">
								<div class="hidden-sm hidden-xs">
									<button class="btn btn-xs btn-info" data-toggle="modal" data-target="#modal-table">
										<i class="ace-icon fa fa-pencil bigger-120"></i>
									</button>
									<button class="btn btn-xs btn-danger">
										<i class="ace-icon fa fa-trash-o bigger-120"></i>
									</button>
								</div>
								</div>
							</td>
						</tr>

						<tr class="detail-row">
							<td colspan="9">
								<div class="table-detail">
									<div class="row">
										<div class="col-xs-12 col-sm-2 col-md-3">
											<div class="text-center">
												<img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="{{static_url('images/avatars/profile-pic.jpg')}}" />
												<br />
												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
														<a class="user-title-label" href="#">
															<i class="ace-icon fa fa-circle light-green"></i>
															&nbsp;
															<span class="white">图一</span>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-2 col-md-3">
											<div class="text-center">
												<img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="{{static_url('images/avatars/profile-pic.jpg')}}" />
												<br />
												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
														<a class="user-title-label" href="#">
															<i class="ace-icon fa fa-circle light-green"></i>
															&nbsp;
															<span class="white">图二</span>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-2 col-md-3">
											<div class="text-center">
												<img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="{{static_url('images/avatars/profile-pic.jpg')}}" />
												<br />
												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
														<a class="user-title-label" href="#">
															<i class="ace-icon fa fa-circle light-green"></i>
															&nbsp;
															<span class="white">图三</span>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-2 col-md-3">
											<div class="text-center">
												<img height="150" class="thumbnail inline no-margin-bottom" alt="Domain Owner's Avatar" src="{{static_url('images/avatars/profile-pic.jpg')}}" />
												<br />
												<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
													<div class="inline position-relative">
														<a class="user-title-label" href="#">
															<i class="ace-icon fa fa-circle light-green"></i>
															&nbsp;
															<span class="white">图四</span>
														</a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-7">
											<div class="space visible-xs"></div>
										</div>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% end %}


<!-- 分页模块 -->
{% block page %}
<div class="page col-md-12">
	<ul class="pagination pull-right no-margin">
		<li class="prev ">
			<a href="#">
				<i class="ace-icon fa fa-angle-double-left"></i>
			</a>
		</li>

		<li class="active">
			<a href="#">1</a>
		</li>

		<li>
			<a href="#">2</a>
		</li>

		<li>
			<a href="#">3</a>
		</li>
		
		<li>
			<a href="#">4</a>
		</li>
		
		<li>
			<a href="#">5</a>
		</li>
		
		<li class="next">
			<a href="#">
				<i class="ace-icon fa fa-angle-double-right"></i>
			</a>
		</li>
	</ul>
</div>
{% end %}