{% extends 'admin_layout.html' %}
	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="javascript:void(0);">首页</a>
							</li>

							<li>
								<a href="javascript:void(0);">商品</a>
							</li>
							<li class="active"> &amp; goods</li>
						</ul>

					</div>
					
					{% block bread_crumbs_table_name %}
						<div class="page-header">
							<h1>
								商品表&nbsp;&nbsp;<span style="font-size: 14px;color: red;">&amp;添加</span>
							</h1>
						</div>
					{% end %}
						
					{% block table_content %}
					<div class="page-content">
						<div class="ace-settings-container" id="ace-settings-container">
							<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
								<i class="ace-icon fa fa-cog bigger-130"></i>
							</div>

							<div class="ace-settings-box clearfix" id="ace-settings-box">
								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<div class="pull-left">
											<select id="skin-colorpicker" class="hide">
												<option data-skin="no-skin" value="#438EB9">#438EB9</option>
												<option data-skin="skin-1" value="#222A2D">#222A2D</option>
												<option data-skin="skin-2" value="#C6487E">#C6487E</option>
												<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
											</select>
										</div>
										<span>&nbsp; Choose Skin</span>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
										<label class="lbl" for="ace-settings-add-container">
											Inside
											<b>.container</b>
										</label>
									</div>
								</div><!-- /.pull-left -->

								<div class="pull-left width-50">
									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
										<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
									</div>

									<div class="ace-settings-item">
										<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
										<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
									</div>

								</div><!-- /.pull-left -->
							</div><!-- /.ace-settings-box -->
						</div><!-- /.ace-settings-container -->
						<div class="row">
							<div class="col-xs-12">
								<form action="" class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right">商品名称</label>

										<div class="col-sm-9">
											<input type="text" placeholder="   Gname" class="col-xs-10 col-sm-5" style="max-width: 360px;"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right">商品系列</label>
										<div class="col-sm-9">
											<select name="" class="form-control" style="max-width: 200px;">
												<option value="Forever系列">Forever系列</option>
												<option value="MarryMe系列">MarryMe系列</option>
												<option value="MyHeart系列">MyHeart系列</option>
												<option value="TrueLove系列">TrueLove系列</option>
												<option value="ISwear系列">ISwear系列</option>
												<option value="JustYou系列">JustYou系列</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right">商品类型</label>
										<div class="col-sm-9">
											<select name="" class="form-control" style="max-width: 200px;">
												<option value="白18K金">白18K金</option>
												<option value="黄18K金">黄18K金</option>
												<option value="红18K金">红18K金</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right">商品重量</label>
										<div class="col-sm-9">
											<select name="" class="form-control" style="max-width: 200px;">
												<option value="10分以下">10分以下</option>
												<option value="10分-30分">10分-30分</option>
												<option value="30分-50分">30分-50分</option>
												<option value="50分-1克拉">50分-1克拉</option>
												<option value="1克拉以上">1克拉以上</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >商品手寸</label>
										<div class="col-sm-9">
											<select name="" class="form-control" style="max-width: 200px;">
												<option value="6">6</option>
												<option value="7">7</option>
												<option value="8">8</option>
												<option value="9">9</option>
												<option value="10">10</option>
												<option value="11">11</option>
												<option value="12">12</option>
												<option value="13">13</option>
												<option value="14">14</option>
												<option value="15">15</option>
												<option value="16">16</option>
												<option value="17">17</option>
												<option value="18">18</option>
												<option value="19">19</option>
												<option value="20">20</option>
												<option value="21">21</option>
												<option value="22">23</option>
												<option value="24">24</option>
												<option value="25">25</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >商品数量</label>

										<div class="col-sm-9">
											<input type="number" placeholder="   Gnum" class="col-xs-10 col-sm-5" min="1" value="1" style="max-width: 200px;"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >商品价格</label>

										<div class="col-sm-9">
											<input type="number" placeholder="   Gnum" class="col-xs-10 col-sm-5" min="0.00" step="0.01" style="max-width: 200px;"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right">商品图片1</label>

										<div class="col-sm-9" style="max-width: 360px;">
											<input type="file" id="img-1"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >商品图片2</label>

										<div class="col-sm-9" style="max-width: 360px;">
											<input type="file" id="img-2"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >商品图片3</label>

										<div class="col-sm-9" style="max-width: 360px;">
											<input type="file" id="img-3"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >商品图片4</label>

										<div class="col-sm-9" style="max-width: 360px;">
											<input type="file" id="img-4"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >商品简介</label>

										<div class="col-sm-9">
											<textarea class="form-control limited"  maxlength="50" style="width: 360px;height: 80px;"></textarea>
										</div>
									</div>
									<div class="form-group">

										<div class="col-sm-9 col-md-offset-2" >
											<div class="center">
												<button type="submit" class="btn btn-sm btn-success">
													提交
													<i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					{% end %}
				</div>
			</div>
		</div>
	</body>
</html>
