<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% end %}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{% block description %}{% end %}" />
    <meta name="keywords" content="{% block keywords %}{% end %}" />
    <link href="{{ static_url('css/647be82565184316a7ba9bc638b40a97.css') }}" rel="stylesheet" />
    <link href="{{ static_url('css/1025b57c3b8b4b63a93efd3b6bed0d58.css') }}" rel="stylesheet" />
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
      <script src="{{static_url('layer/layer.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/main.css') }}" />
    {% block js %}{% end %}
      <script>
            $(function(){
                {#检测用户是否登录#}
            　　$.ajax({
                url: "/check_login/",
                data:"",
                type:'get',
                datatype:'json',
                success: function(arg){
                    coll_back_data = $.parseJSON(arg)
                    console.log("coll_back_data", coll_back_data)
                    if (coll_back_data.code==1){
                        $('#register').hide()
                        $('#login').hide()
                        $('#shopcart').show()
                        $('#login_user').html('<a href="/user_center/">'+coll_back_data.data.UserName+'</a>')

                    }else{
                        $('#logout').hide()
                    }
                }});

                {#获取导航（商品类型#}
                $.ajax({
                url: "/get_product_list/",
                data:"",
                type:'get',
                datatype:'json',
                success: function(arg){
                    coll_back_data = $.parseJSON(arg)
                    console.log("coll_back_data", coll_back_data)
                    for (x in coll_back_data.data) {
                        var current_url= '/index?pid='+coll_back_data.data[x].ProductTypeID
                        $("#menu_list").append('<li> <a href='+current_url+'>'+ coll_back_data.data[x].ProductTypeName +'</a> </li>');
                    }

                }});

            });
            
            function logout() {
                 $.ajax({
                url: "/index_logout/",
                data:"",
                type:'patch',
                datatype:'json',
                success: function(arg){
                    coll_back_data = $.parseJSON(arg)
                    if(coll_back_data.code==1){
                        window.location='/index'
                    }
                    console.log("coll_back_data", coll_back_data)
                }});
            }

            function getCookie(name) {
                var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
                if(arr=document.cookie.match(reg))
                    return unescape(arr[2]);
                else
                    return null;
            }
            function setCookie(name,value) {
                var Days = 30;
                var exp = new Date();
                exp.setTime(exp.getTime() + Days*24*60*60*1000);
                document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString()+";path=/";
            }


            function delCookie(name) {
                var exp = new Date();
                exp.setTime(exp.getTime() - 1);
                var cval=getCookie(name);
                if(cval!=null)
                    document.cookie= name + "="+cval+";expires="+exp.toGMTString()+";path=/";
            }

            function choose_language(arg) {
                delCookie("lang")
                if (arg==1){
                    setCookie("lang", "zh_CN")
                }else if(arg==2){
                    setCookie("lang", "en_US")
                }else{
                    setCookie("lang", "ja_JP")
                }
                location.reload();
            }

          function change_lan() {
              layer.open({
                  title:"{{ _(u'语言切换') }}",
                  type: 1,
                  skin: 'layui-layer-rim', //加上边框
                  area: ['430px', '240px'], //宽高
                  content: '<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="choose_language(1)" class="btn btn-xs btn-default" type="button">{{ _(u'简体中文') }}</button>' +
                  '&nbsp;&nbsp;<button  onclick="choose_language(2)" class="btn btn-default" type="button">{{ _(u'英语') }}</button>&nbsp;&nbsp;<button onclick="choose_language(3)" class="btn btn-default" type="button">{{ _(u'日语') }}</button>'
                });
          }

          function search() {
              var info=$('#search_value').val()
              window.open('/search?info='+info)
          }

           {#简单弹窗#}
          function simple_msg(msg) {
                  layer.msg(msg);
              }

           {#减少商品#}
          function lessen_product(id) {
            var current_num = $('#product_number').val()
            var num = (parseInt(current_num)-1)
            if (num>0){
                $('#product_number').val(num)
            }else{
                simple_msg('不能再低了')
            }

          }

         {#添加商品#}
         function add_product(max_num) {
             var current_num = $('#product_number').val()
             var num = (parseInt(current_num)+1)
             if (num<=max_num){
                 $('#product_number').val(num)
             }else{
                 simple_msg('已达最大库存量')
             }
        }


      </script>
    {% block css %}{% end %}
  </head>
  <body class="animsition">
    <div class="login" id="page">
      <nav id="menu">
        <ul>
          <li>
            <a href="index.html">{{ _(u'首页') }}</a>
          </li>
        </ul>
      </nav>

        {% block header %}
      <header id="header" class="header-style-1 static">
        <div class="container">
          <div class="row">
            <div class="header-1-inner" >
              <a class="brand-logo  animsition-link" href="/index" style="width: 10%" >
                {#   <img class="img-responsive" src="{{ static_url('picture/logo.png') }}" alt="" /  >#}
              </a>
              <nav>
                <ul class="menu hidden-xs" id="menu_list">
                  <li>
                    <a href="/index">{{ _(u'首页') }}</a>
                  </li>
                </ul>
              </nav>
              <aside class="right">

                <div class="widget widget-control-header widget-shop-cart js-widget-shop-cart">
                    <span id="login_user">{{ _(u'未登录') }}</span>
                </div>

                <div onclick="logout()" style="cursor:pointer;" class="widget widget-control-header widget-shop-cart js-widget-shop-cart">
                    <span id="logout">{{ _(u'退出') }}</span>
                </div>

                  <div id="register" class="widget widget-control-header widget-shop-cart js-widget-shop-cart">
                  <a class="control" href="/register/">
                    <p class="counter">0</p>
                    <span title="{{ _(u'注册') }}" class="fa fa-registered"></span>
                  </a>
                </div>

                  <div id="login" class="widget widget-control-header widget-shop-cart js-widget-shop-cart">
                  <a class="control" href="/login/">
                    <p class="counter">0</p>
                    <span title="{{ _(u'登录') }}"  class="fa fa-user"></span>
                  </a>
                </div>


                <div class="widget widget-control-header widget-search-header">
                  <a class="control btn-open-search-form js-open-search-form-header" href="#">
                    <span class="lnr lnr-magnifier"></span>
                  </a>
                  <div class="form-outer">
                    <button class="btn-close-form-search-header js-close-search-form-header">
                      <span class="lnr lnr-cross"></span>
                    </button>
                    <form>
                      <input id="search_value" value="" placeholder="{{ _(u'名称、品牌、名称1-名称2、名称1-品牌1、品牌1-品牌2等') }}" />
                      <button class="search">
                        <span onclick="search()" class="lnr lnr-magnifier"></span>
                      </button>
                    </form>
                  </div>
                </div>
                <div id="shopcart" style="display: none" class="widget widget-control-header widget-shop-cart js-widget-shop-cart">
                  <a class="control" href="/shopcart/">
                    <p class="counter">0</p>
                    <span class="lnr lnr-cart"></span>
                  </a>
                </div>
                <div class="widget widget-control-header hidden-lg hidden-md hidden-sm">
                  <a class="navbar-toggle js-offcanvas-has-events" type="button" href="#menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                </div>

                 <div class="widget widget-control-header widget-shop-cart js-widget-shop-cart">
{#                  <a style="cursor: pointer" onclick="change_lan()">#}
{#                    <p class="counter">0</p>#}
{#                    <span title="{{ _(u'语言') }}"  class="fa fa-language"></span>#}
{#                  </a>#}
                </div>

              </aside>
            </div>
          </div>
        </div>
      </header>
        {% end %}

     {% block content %}  {% end %}
    </div>
    <footer class="footer-style-1">
      <div class="container">
        <div class="row">
          <div class="footer-style-1-inner">
            <div class="widget-footer widget-text col-first col-small">
              <a href="#">
                <img class="logo-footer" style="height: 88px;width: 220px; margin-bottom: 5px;padding-left: 75px;" src="{{ static_url('picture/logo.png') }}" alt="" />
              </a>
              <div class="widget-link">
                <ul>
                  <li>
                    <span class="lnr lnr-map-marker icon"></span>
                    <span>{{ _(u'大连沙河口区软件园路8号大连东软信息学院') }}</span>
                  </li>
                  <li>
                    <span class="lnr lnr-phone-handset icon"></span>
                    <a href="tel:0123456789">18640920308</a>
                  </li>
                  <li>
                    <span class="lnr lnr-envelope icon"></span>
                    <a href="mailto: contact@site.com">1252935330@qq.com</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-footer widget-link col-second col-medium">
              <div class="list-link">
                <h4 class="h4 heading">{{ _(u'导航') }}</h4>
                <ul>
                  <li>
                    <a href="#">{{ _(u'婚纱') }}</a>
                  </li>
                  <li>
                    <a href="#">{{ _(u'摄影') }}</a>
                  </li>
                  <li>
                    <a href="#">{{ _(u'美妆') }}</a>
                  </li>
                  <li>
                    <a href="#">{{ _(u'策划') }}</a>
                  </li>
                </ul>
              </div>
              <div class="list-link">
                <h4 class="h4 heading">{{ _(u'帮助') }}</h4>
                <ul>
                  <li>
                    <a href="#">{{ _(u'投诉') }}</a>
                  </li>
                  <li>
                    <a href="#">{{ _(u'建议') }}</a>
                  </li>
                  <li>
                    <a href="#">{{ _(u'质量监督') }}</a>
                  </li>
                  <li>
                    <a href="#">{{ _(u'合作') }}</a>
                  </li>
                </ul>
              </div>
              <div class="list-link">
                <h4 class="h4 heading">{{ _(u'关于') }}</h4>
                <ul>
                  <li>
                    <a href="#">{{ _(u'公司简介') }}</a>
                  </li>
                  <li>
                    <a href="#">{{ _(u'公司发展') }}</a>
                  </li>
                  <li>
                    <a href="#">{{ _(u'公司公告') }}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-footer widget-newsletter-footer col-last col-small">
              <h4 class="h4 heading">{{ _(u'联系我们') }}</h4>
              <p>{{ _(u'大连东软信息学院') }}</p>
              <form class="organic-form form-inline btn-add-on circle border">
                <div class="form-group">
                  <input class="form-control pill transparent" placeholder="{{ _(u'咨询邮箱') }}" type="email" />
                  <button class="btn btn-brand circle" type="submit">
                    <i class="fa fa-envelope-o"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right style-1">
        <div class="container">
          <div class="row">
            <div class="copy-right-inner">
              <p>Copyright © 2017 春色撩人  版权所有.</p>
              <div class="widget widget-footer widget-footer-creadit-card">
                <ul class="list-unstyle">
                  <li>
                    <a href="#">
                      <img src="{{ static_url('picture/weibo.png') }}" alt="creadit card" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="{{ static_url('picture/qq.png') }}" alt="creadit card" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="{{ static_url('picture/alipay.png') }}" alt="creadit card" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="{{ static_url('picture/baidu.png') }}" alt="creadit card" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/function-check-viewport.js') }}"></script>
    <script src="{{ static_url('js/slick.min.js') }}"></script>
    <script src="{{ static_url('js/select2.full.min.js') }}"></script>
    <script src="{{ static_url('js/imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ static_url('js/jquery.mmenu.all.min.js') }}"></script>
    <script src="{{ static_url('js/rellax.min.js') }}"></script>
    <script src="{{ static_url('js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-notify.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-slider.js') }}"></script>
    <script src="{{ static_url('js/in-view.min.js') }}"></script>
    <script src="{{ static_url('js/countup.js') }}"></script>
    <script src="{{ static_url('js/animsition.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/settings.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/layers.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url('css/navigation.css') }}" />
    <script src="{{ static_url('js/jquery.themepunch.tools.min.js') }}"></script>
    <script src="{{ static_url('js/jquery.themepunch.revolution.min.js') }}"></script>
    <script src="{{ static_url('js/revolution.extension.actions.min.js') }}"></script>
    <script src="{{ static_url('js/revolution.extension.carousel.min.js') }}"></script>
    <script src="{{ static_url('js/revolution.extension.kenburn.min.js') }}"></script>
    <script src="{{ static_url('js/revolution.extension.layeranimation.min.js') }}"></script>
    <script src="{{ static_url('js/revolution.extension.migration.min.js') }}"></script>
    <script src="{{ static_url('js/revolution.extension.navigation.min.js') }}"></script>
    <script src="{{ static_url('js/revolution.extension.parallax.min.js') }}"></script>
    <script src="{{ static_url('js/revolution.extension.slideanims.min.js') }}"></script>
    <script src="{{ static_url('js/revolution.extension.video.min.js') }}"></script>
    <script src="{{ static_url('js/global.js') }}"></script>
    <script src="{{ static_url('js/config-banner-home-1.js') }}">


    </script>
    <script src="{{ static_url('js/config-mm-menu.js') }}"></script>
    <script src="{{ static_url('js/config-set-bg-blog-thumb.js') }}"></script>
    <script src="{{ static_url('js/config-isotope-product-home-1.js') }}">


    </script>
    <script src="{{ static_url('js/config-carousel-thumbnail.js') }}"></script>
    <script src="{{ static_url('js/config-carousel-product-quickview.js') }}"></script>
    <!-- Demo Only-->
    <script src="{{ static_url('js/demo-add-to-cart.js') }}"></script>
    <script src="{{ static_url('js/config-price-slider.js') }}"></script>
    <script src="{{ static_url('js/config-carousel.js') }}"></script>


  </body>
</html>
