{% extends 'index_layout.html' %}

{% block title %} {{ _(u'商品列表') }} {% end %}

{% block js %}
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return unescape(r[2]);
        return null;
    }

    function submit_comment() {
        json_data = {}
        var user_comment_content = $('#user_comment_content').val()
        var pid = getQueryString('pid')
        json_data.user_comment_content = user_comment_content
        json_data.pid = pid
        if (user_comment_content.length>0 & pid!=""){
             $.ajax({
                url: "/add_product_comment/",
                data:{data: JSON.stringify(json_data) },
                type:'post',
                datatype:'json',
                success: function(arg){
                    coll_back_data = $.parseJSON(arg)
                    if(coll_back_data.code==1){
                        layer.msg(coll_back_data.data, {icon: 6});
                    }else{
                        layer.msg(coll_back_data.data, {icon: 5});
                    }
             }});
        }
    }

    function AddShopCart(id) {
         if($('#login_user').html() == "{{ _(u'未登录') }}"){
             window.location='/login/'
        }else{
             {#添加购物车#}
            $.ajax({
                    url: "/add_shop_cart/"+id+"/",
                    data:{data: ""},
                    type:'post',
                    datatype:'json',
                    success: function(arg){
                        coll_back_data = $.parseJSON(arg)
                        if(coll_back_data.code==1){
                            layer.msg(coll_back_data.data, {icon: 6});
                        }else{
                            layer.msg(coll_back_data.data, {icon: 5});
                        }
                    }});
         }
    }

    {#商品收藏#}
    function CollectionProduct(id) {
        if($('#login_user').html() == "{{ _(u'未登录') }}"){
             window.location='/login/'
        }else{
            {#保存用户收藏信息#}
            $.ajax({
                    url: "/collection_product/"+id+"/",
                    data:"",
                    type:'post',
                    datatype:'json',
                    success: function(arg){
                        coll_back_data = $.parseJSON(arg)
                        if(coll_back_data.code==1){
                            layer.msg(coll_back_data.data, {icon: 6});
                        }else{
                            layer.msg(coll_back_data.data, {icon: 5});
                        }
                    }});
        }
    }
    

</script>
{% end %}

{% block content  %}
  <section class="sub-header shop-detail-1">
    <img class="rellax bg-overlay" src="{{ static_url('picture/login_banner.jpg') }}" alt="">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3" style="font-size: 20px;">{{ _(u'商品详情') }}</h3>
  </section>
  <section class="boxed-sm">
    <div class="container">
      <div class="row product-detail">
        <div class="row product-detail-wrapper">
          <div class="col-md-6">
            <div class="woocommerce-product-gallery vertical">
                <br> <br> <br>
              <div class="main-carousel">
                <div class="item">
                  <img class="img-responsive" src="{{ static_url('images/upload') }}/{{ ProductInfo['ProductSmallPicture'] }}" alt="{{ _(u'图片展示') }}">
                </div>
{#                <div class="item">#}
{#                  <img class="img-responsive" src="{{ static_url('images/upload') }}/{{ ProductInfo['ProductBigPictureProductBigPicture'] }}" alt="{{ _(u'图片展示') }}">#}
{#                </div>#}

              </div>
              <div class="thumbnail-carousel">
{#                <div class="item">#}
{#                  <img class="img-responsive" src="{{ static_url('images/upload') }}/{{ ProductInfo['ProductSmallPicture'] }}" alt="{{ _(u'图片展示') }}">#}
{#                </div>#}
{#                <div class="item">#}
{#                  <img class="img-responsive" src="{{ static_url('images/upload') }}/{{ ProductInfo['ProductBigPictureProductBigPicture'] }}" alt="{{ _(u'图片展示') }}">#}
{#                </div>#}
              </div>
            </div>
          </div>
            <br> <br> <br>
          <div class="col-md-6">
            <div class="summary">
              <div class="desc">
                <div class="header-desc">
                  <h2 class="product-title" style="font-size: 20px;">{{ ProductInfo['ProductName'] }}</h2>
                    <br>
                  <p class="price">
                      {{ _(u'市场价') }}: ￥{{ ProductInfo['ProductMarketPrice'] }}&nbsp;&nbsp;
                      {{ _(u'优惠价') }}: ￥{{ ProductInfo['ProductFavorablePrice'] }}&nbsp;&nbsp;
                      {{ _(u'VIP价') }}: ￥{{ ProductInfo['ProductVipPrice'] }}&nbsp;&nbsp;
                  </p>
                </div> <br>

                <div class="body-desc">
                  <div class="woocommerce-product-details-short-description">
                    <p>{{ ProductInfo['ProductDescribe'] }}</p>
                  </div>
                </div>
                  <br>
                <div class="footer-desc">
                  <form1 class="cart">
                    <div class="quantity buttons-added">
                      <input class="minus" onclick="lessen_product({{ ProductInfo['ProductCount'] }})" value="-" type="button">
                      <input class="input-text qty text" step="1" min="1" max="{{ ProductInfo['ProductCount'] }}" id="product_number" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="number">
                      <input class="plus" onclick="add_product({{ ProductInfo['ProductCount'] }})" value="+" type="button">
                    </div>
                      <br>
                      <br>
                      <br>
                    <div class="group-btn-control-wrapper">
                        <button onclick="AddShopCart('{{ ProductInfo['ProductID'] }}')" class="btn btn-brand no-radius">{{ _(u'添加到购物车') }}</button>
                        <button onclick="CollectionProduct('{{ ProductInfo['ProductID'] }}')" class="btn btn-wishlist btn-brand-ghost no-radius">
                        <i class="fa fa-heart"></i>
                      </button>
                    </div>
                  </form1>
                </div>
              </div>
              <div class="product-meta">
                <p class="posted-in">{{ _(u'品牌') }}:
                  <a href="#" rel="tag">{{ ProductInfo['ProductBrand'] }}</a>
                </p>
                <p class="tagged-as">{{ _(u'关键字') }}:
                  {{ ProductInfo['ProductKeywords'] }}
                </p>
                <p class="id">ID:
                  <a href="#">{{ ProductInfo['ProductID'] }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="woocommerce-tabs">
        <div class="row">
          <div class="col-md-12 woocommerce-tabs-inner">
            <div class="row">
              <div class="col-md-8 col-md-offset-2" style="width: 70%">
                <ul class="tabs tab-style-2" role="tablist">
                  <li class="active" role="presentation">
                    <a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">{{ _(u'商品描述') }}</a>
                  </li>
                  <li role="presentation">
                    <a href="#Additional-Information" aria-controls="Additional-Information" role="tab" data-toggle="tab">{{ _(u'商品参数') }}</a>
                  </li>
                  <li role="presentation">
                    <a href="#Review" aria-controls="Review" role="tab" data-toggle="tab">{{ _(u'评论列表') }} ({{ comment_count }})</a>
                  </li>
                  <li role="presentation">
                    <a href="#addReview" aria-controls="addReview" role="tab" data-toggle="tab">{{ _(u'添加评论') }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2" style="width: 75%">
            <div class="tab-content tab-content-style-2">
              <div class="tab-pane fade in active" id="Description" role="tabpanel">
                <p>{{ ProductInfo['ProductIntroduce'] }} </p>
              </div>
              <div class="tab-pane fade" id="Additional-Information" role="tabpanel">
                <table class="shop_attributes table table-striped table-bordered">
                  <tbody>
                    <tr>
                      <th>{{ _(u'商品积分') }}</th>
                      <td>
                        <p>{{ ProductInfo['ProductPoint'] }}</p>
                      </td>

                        <th>{{ _(u'商品剩余') }}</th>
                      <td>
                        <p>{{ ProductInfo['ProductPoint'] }}</p>
                      </td>
                    </tr>
                    <tr>
                      <th>{{ _(u'上架时间') }}</th>
                      <td>
                        <p>{{ ProductInfo['ProductOnTime'] }}</p>
                      </td>

                         <th>{{ _(u'会员价') }}</th>
                      <td>
                        <p>{{ ProductInfo['ProductVipPrice'] }}</p>
                      </td>
                    </tr>
                    <tr>
                      <th>{{ _(u'销售量') }}</th>
                      <td>
                        <p>{{ ProductInfo['ProductBuyNum'] }}</p>
                      </td>

                        <th>{{ _(u'优惠价') }}</th>
                      <td>
                        <p>{{ ProductInfo['ProductFavorablePrice'] }}</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane fade" id="Review" role="tabpanel">
                <ol class="comment-list">
                    {% if len(comment_list) == 0 %}
                        {{ _(u'暂无评论') }}！
                    {% end %}

                    {% if len(comment_list) != 0 %}
                        {% for x in comment_list %}
                      <li>
                        <div class="the-comment" style="border-bottom: 1px dashed #cccccc">
                          <div class="comment-box">
                            <div class="comment-author meta">
                              <p class="">{{ x['UserName'] }}</p>
                              <p class="time">{{ x['CerateTime'] }}</p>
                            </div>
                            <div style="margin-left: -70px;" class="comment-text">
                              <p>{{ x['Content'] }}</p>
                                <br>
                            </div>
                          </div>
                        </div>
                      </li>
                  {% end %}
                    {% end %}


                </ol>
              </div>

              <div class="tab-pane fade" id="addReview" role="tabpanel">
                <div class="form-group organic-form-8">
                  <textarea id="user_comment_content" rows="7" cols="120">
                      {{ _(comment_msg) }}
                  </textarea>
                </div>
                <div class="form-group footer-form">
                  <button class="btn btn-brand pill" onclick="submit_comment()" type="submit">{{ _(u'提交评论') }}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="relate-product">
        <div class="heading-wrapper text-center">
          <h6 style="font-size: 20px;font-weight: normal;padding: 20px 0 25px 0;margin: 35px auto 50px auto;display: inline-block;position: relative;text-align: center;color: #333;" class="heading"> {{ _(u'相关推荐') }}</h6>
        </div>
        <div class="row">
          <div class="carousel-product">
              {% for x in recommend_product %}
            <div class="item">
              <figure class="item">
                <div class="product product-style-1">
                  <div class="img-wrapper">
                    <a href="/shop_product_detail?pid={{ x['ProductID'] }}">
                      <img class="img-responsive" src="{{ static_url('images/upload') }}/{{ x['ProductSmallPicture'] }}" alt="">
                    </a>
                  </div>
                  <figcaption class="desc text-center">
                    <h3>
                      <a style="font-size: 18px;" class="product-name" href="/shop_product_detail?pid={{ x['ProductID'] }}">{{ x['ProductName'] }}</a>
                    </h3>
                    <span style="font-size: 10px;">{{ x['ProductMarketPrice'] }}</span>
                  </figcaption>
                </div>
              </figure>
            </div>
              {% end %}
          </div>
        </div>
          <br> <br><br><br><br>
      </div>
    </div>
  </section>
{% end %}