{% extends 'index_layout.html' %}

{% block title %}商品列表{% end %}

{% block js %}{% end %}
{% block content %}
  <section class="sub-header shop-detail-1">
    <img class="rellax bg-overlay" src="{{ static_url('picture/014.jpg') }}" alt="">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3" style="font-size: 24px;">我喜欢的商品</h3>
  </section>
  <section class="boxed-sm">
    <div class="container">
      <div class="woocommerce">
          <br><br><br><br>
        <form class="woocommerce-cart-form">
          <table class="woocommerce-cart-table">
            <thead>
              <tr>
                <th class="product-thumbnail">Product</th>
                <th class="product-name"></th>
                <th class="product-price">Price</th>
                <th class="product-status">Stock Status</th>
                <th class="product-add-to-cart"> </th>
                <th class="product-remove"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="product-thumbnail">
                  <img src="picture/thumb-cart-01.jpg" alt="product-thumbnail">
                </td>
                <td class="product-name" data-title="Product">
                  <a class="product-name" href="shop-detail.html">Salad</a>
                </td>
                <td class="product-price" data-title="Weight">0.4 kg</td>
                <td class="product-stock-status" data-title="Stock Status">
                  <a href="shop-detail.html">In Stock</a>
                </td>
                <td class="product-add-to-cart">
                  <a class="btn btn-brand" href="cart.html">ADD TO CART</a>
                </td>
                <td class="product-remove text-right">
                  <a class="remove" href="#" aria-label="Remove this item">x</a>
                </td>
              </tr>
              <tr>
                <td class="product-thumbnail">
                  <img src="picture/thumb-cart-02.jpg" alt="product-thumbnail">
                </td>
                <td class="product-name" data-title="Product">
                  <a class="product-name" href="shop-detail.html">Apple</a>
                </td>
                <td class="product-weight" data-title="Weight">0.4 kg</td>
                <td class="product-stock-status" data-title="Stock Status">
                  <a href="shop-detail.html">In Stock</a>
                </td>
                <td class="product-add-to-cart">
                  <a class="btn btn-brand" href="cart.html">ADD TO CART</a>
                </td>
                <td class="product-remove text-right">
                  <a class="remove" href="#" aria-label="Remove this item">×</a>
                </td>
              </tr>
            </tbody>
          </table>
        </form>
          <br><br><br><br>
      </div>
    </div>
  </section>
{% end %}