{% extends 'index_layout.html' %}

{% block title %}商品列表{% end %}

{% block js %}
<script>
    function AddShopCart(id) {
         if($('#login_user').html() == "未登录"){
             window.location='/login/'
        }else{
             {#添加购物车#}
            $.ajax({
                    url: "/add_shop_cart/"+id+"/",
                    data:{data: ""},
                    type:'post',
                    datatype:'json',
                    success: function(arg){
                        coll_back_data = $.parseJSON(arg)
                        if(coll_back_data.code==1){
                            layer.msg(coll_back_data.data, {icon: 6});

                            {# 从心愿单中删除 #}
                            $.ajax({
                                url: "/wish_list/?pid="+id,
                                data:{data: ""},
                                type:'post',
                                datatype:'json',
                                success: function(arg){
                                    coll_back_data = $.parseJSON(arg)
                                    if(coll_back_data.code==1){
                                        layer.msg(coll_back_data.data, {icon: 6});
                                        {# 从心愿单中删除 #}
                                    }else{
                                        layer.msg(coll_back_data.data, {icon: 5});
                                    }
                                }});

                        }else{
                            layer.msg(coll_back_data.data, {icon: 5});
                        }
                    }});
         }
    }
</script>

{% end %}

{% block content %}
  <section class="sub-header shop-detail-1">
    <img class="rellax bg-overlay" src="{{ static_url('picture/014.jpg') }}" alt="">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3" style="font-size: 24px;">我喜欢的商品</h3>
  </section>
  <section class="boxed-sm">
    <div class="container">
      <div class="woocommerce">
          <br><br><br><br>
        <form class="woocommerce-cart-form">
          <table class="woocommerce-cart-table">
            <thead>
              <tr>
                <th class="product-thumbnail">商品</th>
                <th class="product-name">商品名称</th>
                <th class="product-price">价格</th>
                <th class="product-status">剩余库存</th>
                <th class="product-add-to-cart">加入购物车</th>
                <th class="product-remove"></th>
              </tr>
            </thead>
            <tbody>
            {% for wish in wish_list %}
              <tr>
                <td class="product-thumbnail">
                  <img style="width: 80px;" src="{{ static_url('images/upload') }}/{{ wish['product']['ProductSmallPicture'] }}" alt="">
                </td>
                <td class="product-name" data-title="Product">
                  <a class="product-name" href="/shop_product_detail?pid={{ wish['product']['ProductID'] }}">{{ wish['product']['ProductName'] }}</a>
                </td>
                <td class="product-price" data-title="Weight">{{ wish['product']['ProductMarketPrice'] }}</td>
                <td class="product-stock-status" data-title="Stock Status">
                  {{ wish['product']['ProductCount'] }}
                </td>
                <td class="product-add-to-cart">
                    <span onclick="AddShopCart({{ wish['product']['ProductID'] }})" style="margin-left: 20px;cursor: pointer">添加到购物车</span>
                </td>
                <td class="product-remove text-right">
                  <a class="remove" href="#" aria-label="Remove this item">x</a>
                </td>
              </tr>
            {% end %}
            </tbody>
          </table>
        </form>
          <br><br><br><br>
      </div>
    </div>
  </section>
{% end %}