{% extends 'index_layout.html' %}

{% block title %} {{ _(u'订单') }} {% end %}

{% block js %}
{% end %}

{% block content %}
<section class="sub-header shop-detail-1">
<img class="rellax bg-overlay" src="{{ static_url('picture/buy.jpg') }}" alt="">
<div class="overlay-call-to-action"></div>
<h3 class="heading-style-3">{{ _(u'订单列表') }}</h3>
</section>
<section class="boxed-sm">
<div class="container">
  <div class="woocommerce">
    <form class="woocommerce-cart-form">
      <table class="woocommerce-cart-table">
        <thead>
          <tr>
            <th class="product-thumbnail">{{ _(u'订单ID') }}</th>
            <th class="product-name">{{ _(u'订单总价') }}</th>
            <th class="product-weight">{{ _(u'支付状态') }}</th>
            <th class="product-quantity">{{ _(u'支付方式') }}</th>
            <th class="product-price">{{ _(u'订单商品') }}</th>
            <th class="product-subtotal">{{ _(u'交易号') }}</th>
            <th class="product-remove"></th>
          </tr>
        </thead>
        {% for order in order_list %}
        <tbody>
          <tr>
            <td class="product-thumbnail">
              {{ order['order']['OrderID'] }}
            </td>
            <td class="product-name" data-title="Product">
              {{ order['order']['OrderTotalPrice'] }}
            </td>
            {%  if order['order']['OrderStatus'] == 1 %}
            <td class="product-weight" data-title="Weight">{{ _(u'完成') }}</td>
            {% end %}
            {%  if order['order']['OrderStatus'] == 0 %}
            <td class="product-weight" data-title="Weight">{{ _(u'未完成') }}</td>
            {% end %}

            {%  if order['order']['OrderPayType'] == 1 %}
             <td class="product-quantity" data-title="Quantity">
             {{ _(u'支付宝') }}
            </td>
            {% end %}

            {%  if order['order']['OrderPayType'] == 2 %}
             <td class="product-quantity" data-title="Quantity">
             {{ _(u'微信') }}
            </td>
            {% end %}

            {%  if order['order']['OrderPayType'] == 3 %}
            <td class="product-quantity" data-title="Quantity">
                {{ _(u'其他') }}
            </td>
            {% end %}

            <td class="product-price" data-title="Price">
                {% for pro in order['product_info'] %}
                    {{ pro['ProductName'] }}
                {% end %}
            </td>
            <td class="product-subtotal" data-title="Total">{{ order['order']['TRADE_NO'] }}</td>
            <td class="product-remove">

            </td>
          </tr>
        </tbody>
      {% end %}
      </table>

    </form>
      <br> <br> <br> <br>
  </div>
</div>
</section>
{% end %}